.maindiv
{
	width:auto;
	height:auto;
	border:1px solid #000; 
margin-left:30px;
margin-top:30px;
margin-right:30px;
background-color:#F4F4EA;
}
.header
{
	height:150px;
	border:1px solid #333;
	width:1060px;
	margin-top:20px;
	margin-left:105px;
	/*background-color:#0088CA;*/
	background-color:#808040;
	/*padding-top:40px;*/
	color:#FFF;
}

.menubar
{
	height:25px;
	border:1px solid #333;
	width:1060px;
	/*margin-top:10px;*/
	margin-left:105px;
	/*background-color:#0088CA;*/
	background-color:#464600;
	/*padding-top:40px;*/
	color:#FFF;
	
}

.menubar2
{
	
	border:1px solid #333;
	width:1060px;
	/*margin-top:10px;*/
	margin-left:105px;
	/*background-color:#0088CA;*/
	/*background-color:#464600;
	/*padding-top:40px;*/
	color:#FFF;
	
}
.subdiv1
{
border:2px solid #0075EA;
width:1060px;
/*margin-top:20px;*/
margin-left:105px;
border:1px solid #003;


}
.subdiv2
{
border:2px solid #0075EA;	
/*margin-top:20px;
*/
margin-left:60px;
	border:1px solid #003;
	height:300px;
	width:498px;
	float:left;	
	}
	.middlediv
	{
		
		border:2px solid #0075EA;	
margin-left:160px;
	border:1px solid #003;
	height:300px;
	width:498px;
	
}

.rowstyle
{
	font-weight:bold;
	
}
	
.bottamdiv
{
	border:1px solid #000;
	width:1120px;
	margin-top:20px;
	/*position:absolute;*/
	height:50px;
	margin-left:90px;
	color:#FFF;
	font-weight:bold;
	background-color:#808040;
	}

a:link
{
color:#F90;	
}
a:visited
{
color:#F90;	
}
a:active
{
color:#F90;	
}
.font_style
{
	color:#9B0000;
	font-weight:bold;
	
}